.dashboard {
  padding: 30px;
}

/* 🔥 CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 12px;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 28px;
  margin-bottom: 10px;
}

/* Colors */
.blue { background: #3b82f6; }
.green { background: #10b981; }
.orange { background: #f59e0b; }
.purple { background: #8b5cf6; }
.red { background: #ef4444; }

/* 🔥 CHART */
.chart-container {
  margin-top: 40px;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* 🔥 RECENT ORDERS */
.recent-orders {
  margin-top: 40px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  text-align: left;
  padding: 12px;
  background: #f9fafb;
  font-weight: 600;
}

td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

tr:hover {
  background: #f9fafb;
}
/* 🔥 STATUS */
.status {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  color: white;
}

.pending {
  background: #f59e0b;
}

.delivered {
  background: #10b981;
}

.preparing {
  background: #3b82f6;
}

.out-for-delivery {
  background: #ef4444;
}